@media all and (max-width: 992px){
    .flexbox{
        margin: 0 auto;
        height: 100vh;
        align-items: stretch;
         font-size: auto;
    }
    .container{
        flex-basis: auto;
        height: 100%;
        width: 100%;        
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .article{
        flex-basis:70%;
        height: 50%;
        order: 1;
        
    }
    .aside-right{
        flex-basis: 30%;
        height: 50%;
        order:2;
    }
    .aside-left{
        flex-basis: 100%;
        height: 50%;
        order: 3;
    }
    
  
}
@media all and (max-width: 768px) {
       
    .container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        
                    }
    .article{
        flex-basis:33.3%;
        order: 1;
    }
    .aside-right{
    flex-basis: 33.3%;
        order:3;
    }
    .aside-left{
        flex-basis: 33.4%;
        order:2;
    }
}